<!DOCTYPE html>
<html>
    <head>
        <title>Report Result</title>
        <link rel="stylesheet" type="text/css" href="css/result.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
    <header>
        <div class="mainheader">
            <nav>
                <a href="@">home</a>
                <a href="@">services</a>
                <a href="@">about</a>
                <a href="@">contact</a>

            </nav>

            <div class="menubtn">
                <button> HelpLine</button>
            </div>

        </div>
        <main>
            <section class="left-sec">

                <h4>BreakFast:</h4><h2><br><%= br %><br></h2>
                <h4><br>Lunch:</h4<br><h2> <%= ln %><br></h2>
                <h4><br>Snacks:</h4<br><h2><%= sn %><br></h2>
                <h4><br>Dinner: </h4<br><h2><%= dn %><br></h2>

            </section>

            <section class="right-sec">
                <figure>
                    <img src="img2.png"
                </figure>
            </section>
        </main>
    </header>


    </body>
</html>
