
<!-- doctors section starts  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/doctorListStyle.css">

</head>
<body>
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"><img src="image/logo.png" width="200" height="50" style="float:left"></a>

    <nav class="navbar">
        <a href="">Check Report</a>
        <a href="#book">Book appointment</a>
        <a href="#blogs">E-Store</a>
        <a href="#blogs">AI Nutritionist</a>
        <a href="#blogs">AI Therapist</a>
        <a href="#">Login</a>
    </nav>


    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<!-- header section ends -->


<section class="doctors" id="doctors">

    <h1 class="heading"> our <span>doctors</span> </h1>
    <hr color="black" size = "3">
    <br>

    <div>
        <h1 class="dept">Department Of Cardiology</h1>
    </div>
    <br>
    <div class="box-container">


        <div class="box">
            <img src="image/doc-1.jpg" alt="">
            <h3>Dr. Sneha Baral</h3>
            <span>Cardiologist | 15 years Experience</span>
            <a class = "btn" href="http://localhost:3000/bookapp/626564625ad50a9114899b77"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-2.jpg" alt="">
            <h3>Dr. Chetan Jain</h3>
            <span>Cardiologist | 7 years Experience</span>
            <a class = "btn" href="http://localhost:3000/bookapp/626564945ad50a9114899b7a"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-3.jpg" alt="">
            <h3>Dr. Raghav Narayan</h3>
            <span>Cardiologist | 10 years Experience</span>
            <a class = "btn" href="http://localhost:3000/bookapp/626564f55ad50a9114899b7d"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr color="black" size = "3">
    <br>
    <div>
        <h1 class="dept"> Department Of Gastroenterology</h1>
    </div>
    <br>
    <div class="box-container">

        <div class="box">
            <img src="image/doc-4.jpg" alt="">
            <h3>Dr. Gaurav Garde</h3>
            <span>Gastroenterologist | 5 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-5.jpg" alt="">
            <h3>Dr. Pranav Chadha</h3>
            <span>Gastroenterologist | 9 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-6.jpg" alt="">
            <h3>Dr. Azad Krish</h3>
            <span>Gastroenterologist | 7 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <hr color="black" size = "3">
    <br>
    <div>
        <h1 class="dept"> Department Of Neurology</h1>
    </div>
    <br>
    <div class="box-container">

        <div class="box">
            <img src="image/doc-4.jpg" alt="">
            <h3>Dr. Madhukar Prasad</h3>
            <span>Neurologist | 5 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-5.jpg" alt="">
            <h3>Dr. Prabhat Shanker</h3>
            <span>Neurologist | 11 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/doc-6.jpg" alt="">
            <h3>Dr. Pratap Dua</h3>
            <span>Neurologist | 13 year Experience</span>
            <a class = "btn" href="BookAppointment.html"> Book Appointment </a>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>

<!-- doctors section ends -->
