<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITKART</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/ecom.css">
</head>
<body>

<!-- header section starts  -->

<header class="header">
    <a href="/" class="logo">
        <!-- <i class="fas fa-shopping-basket"></i> FITKART </a> -->
        <img src="image/logo.png" width="200" height="50">

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#features">Features</a>
        <a href="#categories">Categories</a>
        <a href="#products">Products</a>
        <a href="#review">Review</a>
        <a href="#blogs">Blogs</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/product-16.PNG" alt="">
            <div class="content">
                <h3>Hair Serum</h3>
                <span class="price">₹499/-</span>
                <span class="quantity">Qty : 2</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/product-3.png" alt="">
            <div class="content">
                <h3>Carb Blend</h3>
                <span class="price">₹1499/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/product-11.png" alt="">
            <div class="content">
                <h3>Green Tea Extract</h3>
                <span class="price">₹289/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
        </div>
        <div class="total"> Total : ₹2786/- </div>
        <a href="#" class="btn">Checkout</a>
    </div>

    <form action="" class="login-form">
        <h3>Login Now</h3>
        <input type="email" placeholder="Your Email" class="box">
        <input type="password" placeholder="Your Password" class="box">
        <p>Forget Your Password <a href="#">Click Here</a></p>
        <p>Don't have an account <a href="#">Create Now</a></p>
        <input type="submit" value="Login Now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>GET YOUR FITNESS A NEW <span>STYLE!</span> </h3>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <p>The higher your energy level, the more efficient your body.
           The more efficient your body, the better you feel and the more you will use your talent to produce outstanding results.</p>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <a href="#categories" class="btnExplore">Explore Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> Our <span>Features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/feature-img-2.png" alt="">
            <h3>Free Delivery</h3>
            <p>Shop on FITKART and get free delivery. Available on all orders. No distance fee and no surge, even during rush hour!</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="box">
            <img src="image/img-1.png" alt="">
            <h3>Authenticity Approved</h3>
            <p>Products sold on the site are 100% Authentic and only sourced directly from brands or their authorized distributors!</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="box">
            <img src="image/feature-img-3.png" alt="">
            <h3>Easy Payments</h3>
            <p>Give our customers the best payment experience from anywhere with multiple payment options!</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

</section>

<!-- features section ends -->
<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading">Product <span>Categories</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/nutrition.png" alt="">
            <h3>Sports Nutrition</h3>
            <p>Upto 45% off</p>
            <a href="#products" class="btn">Shop Now</a>
        </div>

        <div class="box">
            <img src="image/vitamins.png" alt="">
            <h3>Vitamins & Supplements</h3>
            <p>Upto 30% off</p>
            <a href="#products1" class="btn">Shop Now</a>
        </div>

        <div class="box">
            <img src="image/herbs.png" alt="">
            <h3>Ayurveda & Herbs</h3>
            <p>Upto 35% off</p>
            <a href="#products2" class="btn">Shop Now</a>
        </div>

        <div class="box">
            <img src="image/fitness.png" alt="">
            <h3>Fitness & Wellness</h3>
            <p>Upto 20% off</p>
            <a href="#products3" class="btn">Shop Now</a>
        </div>

    </div>

</section>

<!-- categories section ends -->
<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> Sports <span> Nutrition</span> </h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product-1.png" alt="">
                <h3>Whey Proteins</h3>
                <div class="price"> ₹4399/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-2.png" alt="">
                <h3>Peanut Butter</h3>
                <div class="price"> ₹449/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-3.png" alt="">
                <h3>Carb Blend</h3>
                <div class="price"> ₹1499/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-4.png" alt="">
                <h3>Plant Protien</h3>
                <div class="price"> ₹1434/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

        </div>

    </div>

    <section class="products0" id="products0"></section>
    <h1 class="heading"> Cardiovascular <span> Health</span> </h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/naturesplus.webp" alt="">
                <h3>NaturesPlus</h3>
                <div class="price"> ₹1018/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/heartelixir.jpg" alt="">
                <h3>Cureveda Heart Health Pack</h3>
                <div class="price"> ₹1320/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/goodcare.webp" alt="">
                <h3>Goodcare Good Heart</h3>
                <div class="price"> ₹199/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/cureveda.jpg" alt="">
                <h3>Cureveda Heart Hugs</h3>
                <div class="price">₹ 945/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

        </div>

    </div>

    <section class="products1" id="products1"></section>
    <div class="swiper product-slider">
        <h1 class="heading"> Vitamins & <span>Supplements</span> </h1>

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product-5.png" alt="">
                <h3>Omega-3, 90 Capsules</h3>
                <div class="price"> ₹1478/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-6.png" alt="">
                <h3>Multivitamins, Unflavored</h3>
                <div class="price"> ₹699/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-7.png" alt="">
                <h3>Calcium & Vitamin D3 +</h3>
                <div class="price"> ₹299/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-8.png" alt="">
                <h3>Biotin, Strawberry</h3>
                <div class="price"> ₹849/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

        </div>

    </div>

    <section class="products2" id="products2"></section>

    <div class="swiper product-slider">
        <h1 class="heading"> Ayurveda & <span>Herbs</span> </h1>

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product-9.png" alt="">
                <h3>Green Coffee Bean Extract</h3>
                <div class="price"> ₹1134/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-10.png" alt="">
                <h3>Ginseng Capsules</h3>
                <div class="price"> ₹599/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-11.png" alt="">
                <h3>Green Tea Extract</h3>
                <div class="price"> ₹289/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-12.png" alt="">
                <h3>Pure Shilajit Extract</h3>
                <div class="price"> ₹1649/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>

    <section class="products3" id="products3"></section>
    <div class="swiper product-slider">
        <h1 class="heading"> Fitness & <span>Wellness</span> </h1>

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product-13.png" alt="">
                <h3>Dumbbell, 2kg</h3>
                <div class="price"> ₹1303/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-14.png" alt="">
                <h3>Push Up Bar</h3>
                <div class="price"> ₹435/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-15.png" alt="">
                <h3>Face Wash</h3>
                <div class="price"> ₹194/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product-16.png" alt="">
                <h3>Hair Serum</h3>
                <div class="price"> ₹499/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">Add to Cart</a>
            </div>

        </div>

    </div>
</section>

<!-- products section ends -->
<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> Customer's <span>Review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <p>Super satisfied with the quality of the goods,excellent customer service.Very easy returns and refunds. Overall happy with this application.</p>
                <h3>John Deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-2.png" alt="">
                <p>I have been shopping online through FITKART website since past 3-4 years, and the experience is satisfying.I highly recommend FITKART for online shopping.</p>
                <h3>Kate</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-3.png" alt="">
                <p>Just received wonderful products from FITKART. Peanut Butter and coffee bean extract. Super delicious in taste 😋❤️.products are delivered safely and quick</p>
                <h3>Alan Clay</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-4.png" alt="">
                <p>I love this website FITKART! The service is accurate and has fast real time efficiency.There refunds and also prompt. Highly recommend to use FITKART!</p>
                <h3>Erica</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> Our <span>Blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/blog-2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> By User </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 24 March, 2019 </a>
                </div>
                <h3>How Crucial Are Multivitamins For Us?</h3>
                <p>Getting proper nutritional intake that consists of several essential vitamins and minerals is crucial in promoting our health....</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>


        <div class="box">
            <img src="image/blog-3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> By User </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2020 </a>
                </div>
                <h3>Understanding The Immune System: How It Works</h3>
                <p>The body is under constant attack and pressure from outside forces, including viruses, bacteria, toxins, fungi and even parasites. But for the...</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>



        <div class="box">
            <img src="image/blog-1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> By User </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 18th january, 2022 </a>
                </div>
                <h3>Best Diet Plan After COVID-19 Vaccine — An Insight</h3>
                <p>COVID-19 has affected our lives in ways that no one could have imagined. However, did you know that among the various.....</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>


    </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <img src="image/logo.jpg" alt="">
            <!-- <h3> FITKART <i class="fas fa-shopping-basket"></i> </h3> -->
            <p>Hubtown Solaris, Unit 3 Ground Floor, Next To Yes Bank, Andheri East, Mumbai-400104.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Contact Info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> contact_fitkart@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Mumbai, India - 400104 </a>
        </div>

        <div class="box">
            <h3>Quick Links</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Features </a>
            <a href="#categories" class="links"> <i class="fas fa-arrow-right"></i> Categories </a>
            <a href="#products" class="links"> <i class="fas fa-arrow-right"></i> Products </a>
            <a href="#review" class="links"> <i class="fas fa-arrow-right"></i> Review </a>
            <a href="#blogs" class="links"> <i class="fas fa-arrow-right"></i> Blogs </a>
        </div>

        <div class="box">
            <h3>Newsletter</h3>
            <p>Subscribe for latest Updates</p>
            <input type="email" placeholder="Your Email" class="email">
            <input type="submit" value="Subscribe" class="btn">
            <img src="image/payment.png" class="payment-img" alt="">
        </div>
    </div>
 <div class="credit"> All Rights Reserved </div>

</section>

<!-- footer section ends -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/ecom.js"></script>

</body>
</html>
