*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheader nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.menubtn{
    margin-right: 60px;
}
.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px
}

main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right-sec{
    padding-right: 0px;
}
main.left-sec{
    padding-left: 100px;
}

.left-sec h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 900;
    color: #242424;
    padding-top: 0;
    padding-left: 150px;

}

.left-sec h4{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
    color: #242424;
    padding-top: 0;
    padding-left: 150px;

}
.left-sec h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
    color: #2FA4FF;
    padding-top: 0;
    padding-left: 150px;

}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var#4481eb;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: 3px 2px 1px #06234b;
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.navbar{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #06234b;
}

.navbar .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.navbar .a{
    margin: right 10000px;
}
.navbar .logo i{
    color: #4481eb;
}

.navbar .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}

.navbar .navbar a:hover{
    color: #4481eb;
}
